body {
    background-color: #d7d7d7;
    font-family: "Open Sans", sans-serif;
}

.floor-picker {
    box-shadow: 0 1px 6px rgb(60 64 67 / 28%);
    border-radius: 50%;
    position: fixed;
    width: 40px;
    height: 40px;
    right: 10px;
    top: 150px;
    display: flex;
    background-color: #eeeeee;
    justify-content: center;
    align-items: center;
}

.floor-picker svg {
    margin: auto;
    justify-content: center;
}

.floor-menu {
    position: fixed;
    right: 10px;
    top: 200px;
    display: flex;
    flex-direction: column;
}

.floor-menu > div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 1px 6px rgb(60 64 67 / 28%);
    margin-bottom: 10px;
    line-height: 40px;
    background-color: #eeeeee;
    text-align: center;
}

.floor-active {
    background-color: #d16973;
}

.room-info {
    position: fixed;
    background-color: #eeeeee;
    bottom: 0px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 1px -2px 6px rgb(0 0 0 / 20%);
}

.content {
    margin: 15px;
}

.icon-with-text {
    display: flex;
    align-items: center;
}

.icon-with-text > p {
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

.skeleton {
    height: 170px;
}

.skeleton > span {
    margin: 0 20px;
}

.searchbox {
    width: 70%;
    height: 40px;
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
    padding: 10px;
    right: 50%;
    top: 40px;
    position: fixed;
    transform: translate(50%);
    margin-left: -100px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

input {
    font-size: 1.05rem;
    width: 90%;
    border: none;
    outline: none;
    background-color: #eeeeee;
    margin: auto;
}

.searchbox svg {
    margin: auto 5px;
}

.fill {
    width: 20px;
}

.results {
    margin-top: 120px;
}

.result {
    display: flex;
    flex-direction: row;
    width: 90%;
    background-color: #eeeeee;
    margin: 20px auto;
    height: 80px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.result p {
    margin: 0;
}

.result-icon {
    margin: auto 10px;
}

.result-content {
    margin: auto 0;
}

.content-primary {
}

.content-secondary {
    color: #534f4f;
}

.female {
    color: #fa21bd;
}

.male {
    color: #2f59ee;
}

.selected-room {
    fill: #d16973;
}
